/* BASE STYLE */
:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #2c3801;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: .5em 1.5em;
}

@media screen and (min-width:992px) {
    .navbar-brand {
        margin-right: 0;
        padding: 0 1.5em;
    }
}